@model Escc.Schools.SchoolClosures.Models.SchoolClosuresViewModel
@using Escc.Dates
@using ClientDependency.Core.Mvc
@{
    Model.Metadata.Description = "Check this page to find out about emergency school closures in East Sussex. You can also be notified by email or RSS feed.";
    Model.Metadata.DateCreated = new DateTimeOffset(new DateTime(2009,2,3));
    Model.Metadata.DateIssued = new DateTimeOffset(new DateTime(2009,2,3));
    Html.RequiresCss("~/css/service-closures.css");
    Html.RequiresJs("~/js/schoolclosures.js");
}
@section Metadata
{
    <link rel="alternate" type="application/rss+xml" href="@Url.Content("~/closuresrss.aspx")" title="School closures - East Sussex County Council" />
}
<div class="article school-closures">
    <article>
        <div class="content text-content">
            <h1>@Model.Metadata.Title</h1>

            @if (Model.Services.Count == 0)
            {
                if (Model.IsToday())
                {
                    <p><strong>There are no emergency school closures yet for today.</strong></p>
                }
                else if (Model.IsTomorrow())
                {
                    <p><strong>There are no emergency school closures yet for tomorrow.</strong></p>
                }
                else
                {
                    <p><strong>There are no emergency school closures yet for @Model.TargetDay.ToBritishDateWithDay().</strong></p>
                }
            }

            <h2>This page is updated every five minutes</h2>

            <ul id="updates">
                <li>Last updated: @(DateTime.Now.ToUkDateTime().ToString("h.mm") + DateTime.Now.ToUkDateTime().ToString("tt").ToLowerInvariant())</li>
                <li>Next update: @(DateTime.Now.ToUkDateTime().AddMinutes(5).ToString("h.mm") + DateTime.Now.ToUkDateTime().AddMinutes(5).ToString("tt").ToLowerInvariant())</li>
                @if (Model.IsToday() || Model.IsTomorrow())
                {
                    <li>After 3.30pm, tomorrow's closures are shown.</li>
                }
                <li>Some schools may have yet to decide. Please continue to check this page, or subscribe to alerts.</li>
            </ul>

            @{ Html.RenderAction("ClosureListCached", new { model = Model, date = Model.TargetDay.ToIso8601Date() }); }

            <h2>Subscribe to future alerts</h2>

            <p>Find out about school closures when a school reports a closure:</p>

            <p><a href="/educationandlearning/schools/schoolsearch/">Find your school to sign up for email alerts</a></p>

            <p class="or">or</p>

            <p><a href="@Url.Content("~/closuresrss.aspx")" class="rss" type="application/rss+xml" rel="alternate">Subscribe by RSS for alerts about all East Sussex schools</a></p>

            <h2>Radio</h2>
            <p>These local radio stations receive our alerts and make announcements:</p>
            <ul>
                <li><a href="https://www.bbc.co.uk/bbcsussex">BBC Sussex</a></li>
                <li><a href="https://moreradio.online/midsussex/">More Radio</a></li>
                <li><a href="https://www.heart.co.uk/sussex/">Heart FM</a></li>
                <li><a href="https://www.hailshamfm.uk/">Hailsham FM</a></li>
                <li><a href="http://www.seahavenfm.com/">Seahaven FM</a></li>
                <li><a href="http://www.uckfieldfm.co.uk/">Uckfield FM</a></li>
            </ul>
        </div>
    </article>
</div>
<div class="supporting related-links text-content content-small content-medium">
    <h2>Related pages</h2>
    <ul>
        <li><a href="https://www.eastsussex.gov.uk/educationandlearning/schools/termdates/">Term dates and school holidays</a> </li>
        <li><a href="/educationandlearning/schools/schoolsearch/">Find your school to sign up for email alerts</a></li>
    </ul>
</div>

<span class="escc-banners"></span>
<div class="content text-content">
    @{ Html.RenderPartial("~/Views/EastSussexGovUK/Features/_Share.cshtml", Model); }
</div>
